      body{
         color:#7d5413;
         background-color: #f9f8e4;
         background-position: center;
       }

       .wrapper {
          { width:100%; margin:0 auto; max-width:700px; }
       #content { float:left; width:63%; margin-left:1%; }
       }

      header {
          background-color: #bfa66d;
          height: 93px;
          color: #543b04;
          font-size:0pt;
          font-weight: bold;

      }

      h1, h2{
        font-family: Gloria Hallelujah, cursive;
        font-size: 36pt;
      }
      h1{ 
      text-align: left;
      padding: 2px;
    }

      nav {
        text-align: right;
        display: inline;
        list-style-type: none;

      }

      nav ul li {
          display: inline;
          font-size: 30px;
          text-align: center;
          padding: 14px 16px;
          color: #543b04;
          font-family: 'Amatic SC', cursive;
      }

      section, footer {
        font-family: 'BenchNine', sans-serif;
      }

      aside{ 
        width: 300px;
        float: left;
        padding:50px 0px 0px 20px;
        font-size: 40px;
        line-height: 3.5;
        color: #543b04;
        font-family: 'Amatic SC', cursive;
        text-align:center;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #bfa66d
      }
      a:link{
      	color:#543b04;
      	text-decoration: none;
      }
      a:hover{
        background-color: #d1c278;
        text-decoration: none;
        text-transform: uppercase;
       }

     .column{
          margin-left: 400px;
          padding: 2em;
          line-height: 1.5;
          height: 200px;
      }
      .row:after{
        content: "";
        display: table;
        clear: both;
        height: 100px;
        
      }
      
      article h2{ 
        font-size: 35px;
        color: #baa006
      }

      section {
        font-size: 25px; 
      }

      footer {
      	font-family: medium;
          background-color: #bfa66d;
          color: white;
           padding: 3px 3px 3px 3px;
      }